=============================================================================
sysname Core-Switch-01
#
vlan batch 10 20 30 to 50
#
interface Vlanif10
 ip address 10.0.10.1 255.255.255.0
#
interface 10GE1/0/1
 description "to Access-Switch-A"
 port link-type trunk
 port trunk allow-pass vlan 10 20 30
 undo shutdown
#
interface 10GE1/0/2
 description "to Access-Switch-B"
 port link-type trunk
 port trunk allow-pass vlan 10 20 30
 undo shutdown
#
interface Eth-Trunk1
 description "to Core-02"
 mode lacp-static
 port link-type trunk
 port trunk allow-pass vlan all
#
ospf 1 router-id 10.0.0.1
 area 0.0.0.0
  network 10.0.0.0 0.0.0.255
#
bfd
#
bfd to-core-02 bind peer-ip 10.0.0.2
 discriminator local 1
 discriminator remote 1
 min-tx-interval 100
 min-rx-interval 100
 detect-multiplier 3
 commit
#
ip vpn-instance Customer-A
 route-distinguisher 100:1
 vpn-target 100:1 export-extcommunity
 vpn-target 100:1 import-extcommunity
#
acl number 3000
 rule 5 permit ip source 10.0.10.0 0.0.0.255 destination 10.0.20.0 0.0.0.255
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
#
return
